<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../css/style.css" th:href="@{/css/style.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--<script src="CDN"></script>-->
</head>

<body class="body-1">
<!---------------------------------------------Registration form--------------------------------------------------------------------->
<h1>Hello!</h1>
<div class="reg-form">
    <form id="registration-form">
        <div class="reg-firstName">
            <label>First name:
                <input type="text" name="firstName" required>
            </label>
        </div>
        <div class="reg-lastName">
            <label>Last name:
                <input type="text" name="lastName" required>
            </label>
        </div>
        <div class="reg-phone">
            <label>Phone:
                <input type="tel" name="phone" required>
            </label>
        </div>
        <div class="reg-email">
            <label>Email:
                <input type="email" name="email" required>
            </label>
        </div>
        <div class="reg-password">
            <label>Password:
                <input type="password" maxlength="25" minlength="8" name="password" required>
            </label>
        </div>
        <div class="reg-button">
            <button type="submit">Registration</button>
        </div>
    </form>
</div>
<!------------------------------------------------------------------------------------------------------------------------->

<!-------------------------------------------------Login form------------------------------------------------------------------------------------->
<form id="loginForm">Login
    <div class="login-form">
        <label>
            <input id="email" type="email" name="email" placeholder="example@example.example" required>
        </label>
        <label>
            <input id="password" type="password" maxlength="25" minlength="8" name="password"
                   placeholder="Enter Password" required>
        </label>
        <button type="submit">Login</button>
    </div>
</form>

<!--=============================================================================================================================-->



</body>
<!------------------------------------------------------------------------------------------------------------------------------->

<script>


    $("#loginForm").submit(function login() {
        event.preventDefault();
        $.ajax({
            type: "GET",
            url: "/login",
            data: ({
                email: $('#email').val(),
                password: $('#password').val()
            }),
            success: function (data) {
                window.location = '/' + data.toString();
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    });

    $("#registration-form").submit(function (event) {
        event.preventDefault();
        $.ajax({
            url: "/register-user",
            type: "POST",
            data: $('#registration-form').serialize(),
            success: function () {
                alert('User registered!');
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    });
</script>
</html>

