<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../css/style.css" th:href="@{/css/style.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title th:text="${user.firstName +' '+ user.lastName}"></title>
    <style>
        .photo {
            border: 1px solid #000000;
            height: 100px;
            width: 100px;

        }

        .content#first {
            background-color: lemonchiffon;
            height: 400px;
            width: 400px;
            border: 1px solid #000000;

        }

        .content#second {

            background-color: #9ceee8;
        }

    </style>
</head>
<body>
<div class="photo">

</div>
<div class="content" id="first">
    <div class="firstLastName">
        <h1 th:text="${user.firstName +' '+ user.lastName}"></h1>
    </div>
    <div class="content" id="second">
        <p th:text="${user.id}"></p>
        <p th:text="${user.phone}"></p>
        <p th:text="${user.country}"></p>
        <p th:text="${user.city}"></p>
        <p th:text="${user.age}"></p>
        <p th:text="${user.dateRegistered}"></p>
        <p th:text="${user.dateLastActive}"></p>
        <p th:text="${user.relationshipStatus}"></p>
        <p th:text="${user.religion}"></p>
        <p th:text="${user.school}"></p>
        <p th:text="${user.university}"></p>
    </div>
</div>

<form id="form-logout">
    <div>Logout:
        <label>
            <input id="password" type="password" name="password" placeholder="Enter your password" required>
        </label>
        <button type="submit">Logout</button>
    </div>
</form>
<div th:if="${userSession.id != user.id}">
    <div th:if="${relationship} == null or ${relationship} eq 'CANCELED'">
        You are not friends
        <button id="add-relship">
            Add to friends
        </button>
    </div>
    <div th:if="${relationship} eq 'FRIENDS'">
        You are friends
        <button id="remove-from-friends">
            Remove
        </button>
    </div>

    <div th:if="${relationship} eq 'REQUEST'">
        You are sent request
        <button id="cancel-relship">
            Cancel request
        </button>
    </div>
</div>
<div th:if="${userSession.id == user.id}">
    <div>
        <h3>Incoming requests</h3>
    </div>
    <tr th:each="incomingRequest : ${incomingRequests}">
        <p>
            <button id="accept-the-invitation"
                    th:onclick="'accept(\'' + ${incomingRequest.getId()} + '\');'"> Accept
                Request
            </button>
        </p>
        <p>
            <button id="reject-the-invitation"
                    th:onclick="'reject(\'' + ${incomingRequest.getId()} + '\');'"> Reject
                Request
            </button>
        </p>
    </tr>

    <div>
        <h3>Outcoming requests</h3>
    </div>
    <tr th:each="incomingRequest : ${incomingRequests}">
        <p>
            <button id="add-to-friens" th:onclick="'accept(\'' + ${incomingRequest.getId()} + '\');'">

            </button>
        </p>
        <p>
            <button id="reject"
                    th:onclick="'reject(\'' + ${incomingRequest.getId()} + '\');'"> Reject
                Request
            </button>
        </p>
    </tr>
</div>

</body>


<script>

    var userId = window.location.pathname.split('/').pop();

    $("#form-logout").submit(function () {
        event.preventDefault();
        $.ajax({
            type: "GET",
            url: "/logout",
            // data: $('#loginForm').serialize(),
            // success: function success(data) {
            //     window.location = '/';
            // },
            data: ({

                password: $('#password').val()
            }),
            success: function (data) {
                window.location = '/';
            },
            error: function error(xhr) {
                alert(xhr.responseText);
            }
        });
    });


    $("#add-relship").click(function () {

        $.ajax({
            url: "/add-relationship",
            type: "POST",
            data: {userToId: userId},
            success: function success() {
                window.location.reload(true)
            },
            error: function error(xhr) {
                alert(xhr.responseText);
            }
        });
    });

    $("#cancel-relship").click(function () {

        $.ajax({
            url: "/update-relationship",
            type: "POST",
            data: {userId: userId.toString(), relationshipStatus: "CANCELED"},
            success: function success() {
                window.location.reload(true)
            },
            error: function error(xhr) {
                alert(xhr.responseText);
            }
        })
    });
    $("#remove-from-friends").click(function () {

        $.ajax({
            url: "//update-relationship",
            type: "POST",
            data: {userId: userId.toString()},
            success: function success() {
                window.location.reload(true)
            },
            error: function error(xhr) {
                alert(xhr.responseText);
            }
        })
    })


</script>
</html>