<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.firstName +' '+ user.lastName}"></title>
    <style>
        .photo {
            border: 1px solid #000000;
            height: 100px;
            width: 100px;

        }

        .content#first {
            background-color: lemonchiffon;
            height: 400px;
            width: 400px;
            border: 1px solid #000000;

        }

        .content#second {

            background-color: #9ceee8;
        }

    </style>
</head>
<body>
<div class="photo">

</div>
<div class="content" id="first">
    <div class="firstLastName">
        <h1 th:text="${user.firstName +' '+ user.lastName}"></h1>
    </div>
    <div class="content" id="second">
        <p th:text="${user.id}"></p>
        <p th:text="${user.phone}"></p>
        <p th:text="${user.country}"></p>
        <p th:text="${user.city}"></p>
        <p th:text="${user.age}"></p>
        <p th:text="${user.dateRegistered}"></p>
        <p th:text="${user.dateLastActive}"></p>
        <p th:text="${user.relationshipStatus}"></p>
        <p th:text="${user.religion}"></p>
        <p th:text="${user.school}"></p>
        <p th:text="${user.university}"></p>
    </div>
</div>

</body>


</html>